<div class="container">
  <h1>プロフィールの設定</h1>

  <%= simple_form_for @profile, url: profile_path, html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :sex %>
    <%= f.input :birthday %>
    <%= f.input :age %>
    <%= f.input :prefecture %>
    <%= f.input :job %>
  <% end %>
</div>
