<% if current_user.role == "user" %>
  <h1>userでログイン</h1>
<% elsif current_user.role == "company"%>
  <h1>companyでログイン</h1>
  <%= link_to "新規アンケート作成", new_research_path %>
<% end %>

<% @researches.each do |research| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= research.title %></div>
    <div class="panel-body">
      <p>TODO: 調査内容</p>
    </div>

    <table class="table">
      <thead>
        <th>#</th>
        <th>開始日時</th>
        <th>終了日時</th>
        <th>参加者</th>
        <th></th>
      </thead>

      <tbody>
        <% research.meetings.each_with_index do |meeting, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= meeting.start_at %></td>
            <td><%= meeting.end_at %></td>
            <td><%= meeting.users.count %> / <%= research.max_users %></td>
            <td>
              <% participant = meeting.participants.find_by(user: current_user) %>
              <% if participant %>
                <%= link_to 'キャンセル',
                            participant_path(participant),
                            method: 'delete',
                            class: 'btn btn-danger' %>
              <% else %>
                <%= link_to '予約',
                            meeting_participants_path(meeting),
                            method: 'post',
                            class: 'btn btn-primary' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
