<div class="container">
  <% if current_user.role == "user" %>
    <div class="row">
      <div class="col-md-5 pull-left">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p><%= current_user.email %></p>
          </div>
          <div class="panel-body">
            <p>現在のランク<%= image_tag "bronze.png" %></p>
            <p>あと<strong>5</strong>回の会議参加で<%= image_tag"silver.png", class: "next-rank" %></p>
            <button type="button" class="btn btn-primary">ポイント確認</button>
            <%= link_to "登録情報変更", edit_user_registration_path, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
      <div class="col-md-7 pull-right">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>予約中のアンケート</p>
          </div>
          <div class="panel-body">
            <table class="table">
              <tbody>
                <% @researches.each do |research|%>
                  <% research.meetings.each do |meeting| %>
                    <% participant = meeting.participants.find_by(user: current_user) %>
                    <% if participant %>
                      <tr>
                        <td><%= meeting.id %></td>
                        <td><%= meeting.start_at  %></td>
                        <td><%= research.title %></td>
                        <td><%= link_to "入室", meeting_room_path(meeting.id), class: "btn btn-primary" %></td>
                        <td>
                          <%= link_to 'キャンセル',
                            participant_path(participant),
                            method: 'delete',
                            class: 'btn btn-danger' %>
                      </td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.role == "company"%>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <%= link_to "新規アンケート作成", new_research_path, class: "btn btn-primary register" %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3><%= current_user.email %></h3>
          </div>
          <div class="col-md-6 my-edit-user">
            <%= link_to "登録情報の変更", edit_user_registration_path, class: "btn btn-default btn-edit-user" %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="info">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-color">
              Pop Survey からのお知らせ
            </div>
            <div class="panel-body">
              <table>
                <tbody>
                  <tr>
                    <td>2015/11/15</td>
                    <td>サービスを開始しました</td>
                  </tr>
                  <tr>
                    <td>2015/11/20</td>
                    <td>
                      大規模メンテナンスを行いました．以下の変更点がございます．
                      <ul>
                        <li>録画機能の追加</li>
                        <li>画質の向上</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.role == "user" %>
    <div class="panel panel-default">
      <div class="panel-heading">
        募集中のアンケート
      </div>
      <div class="panel-body">
        <div class="row">
          <% @meetings.each do |meeting| %>
            <% participant = meeting.participants.find_by(user: current_user) %>
            <% if !participant %>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <%= meeting.research.title %>
                  </div>
                  <div class="panel-body">
                    <p><%= meeting.id %>, <%= meeting.start_at %></p>

                    <% candidate = meeting.research.candidates.find_by(user: current_user) %>
                    <% if candidate # パス %>
                      <% if candidate.status == 0 %>
                        <%= link_to '予約',
                          meeting_participants_path(meeting),
                          method: 'post',
                          class: 'btn btn-primary' %>
                      <% end %>
                    <% else %>
                      <%= link_to '事前調査へ',
                        new_research_candidate_path(meeting.research),
                        method: 'get',
                        class: 'btn btn-primary' %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% elsif current_user.role == "company" %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>作成した調査一覧</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <tbody>
            <% @researches.each do |research| %>
              <tr>
                <td><%= research.start_at %></td>
                <td><%= link_to research.title, research_path(research.id)  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    </div>
