<div class="container">
  <h1><%= @research.title %></h1>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <th>start_at</th>
        <th>end_at</th>
        <th>reward</th>
        <th>max_users</th>
        <th>min_users</th>
      </thead>
      <tbody>
        <tr>
          <% r = @research%>
          <td><%= r.start_at %></td>
          <td><%= r.end_at %></td>
          <td><%= r.reward %></td>
          <td><%= r.max_users %></td>
          <td><%= r.min_users %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2>フィルタ一覧</h2>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <th>text</th>  
        <th>pass_answer</th>  
      </thead>
      <tbody>
         <% @research.questions.each do |question| %>
          <tr>
            <td><%= question.text %></td>
            <td><%= question.pass_answer %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to '新規フィルタ', new_research_question_path(@research.id), class: 'btn btn-primary' %>




  <h2>会議室一覧</h2>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <th>start_at</th>
        <th>end_at</th>
      </thead>
      <tbody>
        <% @research.meetings.each do |meeting| %>
          <tr>
            <td><%= meeting.start_at %></td>
            <td><%= meeting.end_at %></td>
            <% participant = meeting.participants.find_by(user: current_user) %>
            <% if participant %>
              <td><%= link_to '入室', meeting_room_path(meeting.id), class: "btn btn-success" %></td>
            <% else %>
              <td><%= link_to '予約', meeting_participants_path(meeting), method: 'post', class: 'btn btn-primary' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h3>新規会議室作成</h3>
  <%= form_for [@research, @research.meetings.build] do |f| %>
    <div class="panel panel-default">
      <table class="table">
        <thead>
          <th>start_at</th>
          <th>end_at</th>
        </thead>
        <tbody>
          <tr>
            <td><%= f.datetime_select :start_at, use_month_numbers: true, minute_step: 10 %></td>
            <td><%= f.datetime_select :end_at, use_month_numbers: true, minute_step: 10 %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= f.submit '新規会議室作成', class: 'btn btn-primary' %>
  <% end %>

  <div>
    <%= link_to "マイページ", researches_path %>
  </div>
</div>
