<survay-use-media>
  <div class="container">
    <div class="row all">
      <div class="col-xs-3 self">
        <div class="upper">
          <h3 class="meeting"><%= @meeting.research.title %></h3>
          <p><%= @meeting.start_at %> - <%= @meeting.end_at %></p>
          <survay-video selfy="true"></survay-video>
          <ul class="nav nav-tabs self-nav">
            <li class="active"><a href="#">ノート</a></li>
          </ul>
        </div>
        <div class="remain">
          <textarea class="form-control" rows="10" style="height: 100%;"></textarea>
        </div>
      </div>

      <div class="col-xs-9 others">
          <survay-chat-container room-token="token" meeting-id="<%= params[:meeting_id] %>"></survay-chat-container>
          <survay-chat-tl-container room-token="token" meeting-id="<%= params[:meeting_id] %>"></survay-chat-tl-container>
      </div>
    </div>
  </div>
</survay-use-media>

<% # for components of Vue.js %>
<%= render partial: 'vue/chat_container' %>
<%= render partial: 'vue/chat_tl_container' %>
<%= render partial: 'vue/video' %>
