<!DOCTYPE html>
<html>
  <head>
    <title>PopConference</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <% if user_signed_in? %>
              <a class="navbar-brand" href="/researches"><%= image_tag("logo.png", :height => "100%") %></a>
            <% else %>
              <a class="navbar-brand" href="/"><%= image_tag("logo.png", :height => "100%") %></a>
            <% end %>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="pull-right">
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                  <li><a>Logged in as <strong><%= current_user.email %></strong></a></li>
                  <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "企業の方はコチラ", home_index_for_client_path %></a></li>
                  <li><%= link_to "サインイン", new_user_registration_path %></li>
                  <li><%= link_to "ログイン", new_user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <%= yield %>

    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
