<!DOCTYPE html>
<html>
  <head>
    <title>PopConference</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <% if user_signed_in? %>
              <a class="navbar-brand" href="/researches"><%= image_tag("logo_small.png", :height => "100%") %></a>
            <% else %>
              <a class="navbar-brand" href="/"><%= image_tag("logo_small.png", :height => "100%") %></a>
            <% end %>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="pull-right">
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                  <% if current_user.role === "user" %>
                    <li><%= link_to 'よくある質問', "#", id: "fqa-for-user" %></li>
                    <li><%= link_to 'お問い合わせ', "#", id: "contact-for-user" %></li>
                  <% elsif current_user.role === "company"%>
                    <li><%= link_to 'よくある質問', "#", id: "fqa-for-client" %></li>
                    <li><%= link_to 'お問い合わせ', "#", id: "contact-for-client" %></li>
                  <% end %>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, id: "logout" %></li>
                <% else %>
                  <li><%= link_to "企業の方はコチラ", home_index_for_client_path %></a></li>
                  <li><%= link_to "サインイン", new_user_registration_path %></li>
                  <li><%= link_to "ログイン", new_user_session_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
      </nav>
    </header>

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
